.navbar-purple {
    background-color: #6f42c1 !important; 
    margin-bottom: 5vh;
}
.btn-primary {
    background-color: #6f42c1 !important;
    border-color: #6f42c1 !important;
}
.card {
    border-color: #6f42c1;
}
label {
    color: #6f42c1;
}
.form-image {
    width: 50%; /* Ajustar al 100% del contenedor */
    height: auto; 
    display: block; 
    margin: 0 auto; 
    padding-top: 10px;
}

.custom-container {
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}


.custom-container.first {
    margin-top: 30px; 
}


